<!DOCTYPE html>
<html lang="en" xmlns:>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <title>ClassManage</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
            <link href="../../static/css/common/AccountLoginPage.css" rel="stylesheet" type="text/css"/>

    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.isotope.min.js"></script>
    <script src="../../static/js/jquery.inview.min.js"></script>
    <script src="../../static/js/cookie3.js"></script>
    <script src="../../static/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>


    <script type="text/javascript">
    function login() {
        var u = {
            "phone": $('#phone').val(),
            "password": $('#password').val()
        };
        var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
        if (!$('#phone').val() || !$('#password').val()) {
            alert("账号密码不能为空!");
        }
        else if (!myreg.test($("#phone").val())) {
            alert('请输入有效的手机号码！');
        }
        else
        {
            $.ajax({
                type: "POST", //请求方式
                url: "/signin", //请求路径
                cache: false,
                contentType: "application/json",
                data: JSON.stringify(u),
                dataType: 'json',   //返回值类型
                success: function (data) {
                    if (data) {
                        if (data.type == "student")
                            location.href = '../student/StudentBindPage.html';
                        if (data.type == "teacher")
                            location.href = '../teacher/TeacherBindPage.html';
                    }
                },
                error: function (result) {

                }
            });
        }
    };
    </script>
<style>
    body {background-image:url("../../static/images/back.png");
    background-repeat:no-repeat;
    background-size:100%!important;
    overflow: hidden;
    position: fixed;
    width:100%;
    height:100%;
    font-size:100%;
    }
    </style>
</head>


<body>
<div class="GreyPanel"></div>
<!-- cxcxzczx -->
<div class="ClassManage">课堂管理系统</div>
<div class="LoginWayOne"> <a href="AccountLoginPage.html">账号密码登录</a></div>
<div class="LoginWayTwo"> <a href="WechatLoginPage.html">微信登录</a></div>
<div class="UserName"> 用户名</div>
<input type="text" class="UserNameField" id="phone"></input>
<div class="Password"> 密码</div>
<input type="password" class="PasswordField" id="password"></input>
<button class="Login"  onclick="login()">登录</button>
<div class="Enroll"><a href="RegisterPage.html" >注册</a></div>
</body>
</html>