<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>学生课程首页</title>
    <link rel="stylesheet" href="/css/student/StudentCourseInformation.css" type="text/css" />

    <script src="/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/cookie3.js"></script>
     <script>

    window.onload=function(){

    setCookie("courseId","1");
    getCourseInformation(getCookie("courseId"));
    getSeminars(getCookie("courseId"));

    }

    function goback()
    {
    //你所要跳转的页面
        window.location.href="/student/StudentCourseHome";
    }

 //得到课程的基本信息
    function getCourseInformation(courseID)
    {

        $.ajax({
        type:"GET", //请求方式
        url: "/course/"+courseID,
        cache: true,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型

        success:function(data){

         $("#courseName").html(data.name);
         $("#courseDescription").html(data.description);

         },
         error:function(data){
             alert("页面加载错误！");
         }
         });
    }


  //得到讨论课的概要信息
function getSeminars(courseID)
{
	$.ajax({
		     type:"GET", //请求方式
			 url: "/course/"+courseID+"/seminar",
             cache: false,   //如果使用缓存
             contentType : "application/json",
             dataType: 'json',   //返回值类型
             success:function(data){
               str="";
              if(data){
             $.each(data,function(i,item){
                  var a;
                  if(item.groupingMethod=="fixed")   a=1;
                  else  a=0;
                  str=str+"<a onclick=\"login("+a+","+item.id+") \" class=\"block\" style=\"color:black;text-decoration:none\"> <div class=\"blockFont\" id=\" " + item.id + " \" >"+ item.name +"</div></a> "
			            });
			       }


			    $("#seminarBody").html(str);
                 },

                error:function(result){
                }
         });
}

function login(id,id1)
{
   setCookie("seminarId",id1);
   if(id==1)
   {
      window.location.href="/student/StudentSeminarPage(fixed)";
   }
   else
   {
       window.location.href="/student/StudentSeminarPage(random)";
   }
}
     </script>
</head>
<body>

  	 	<div class="top">
        	<div class="font">
        		课堂管理系统
        	</div>
        	<div class="icon">
                <a href="/student/StudentCourseHome"><img src="/images/home.png">首页</a>
                <img src="/images/help.png">帮助
                <a href="/common/AccountLoginPage"><img src="/images/exit.png">退出</a>
        	</div>
        	<div class="clear"></div>
    	</div>
        <div class="body">
            <div class="navigation">
                <div class="courseName"  id="courseName" ></div>
                <div class="line"></div>
                <div class="courseDescription"  id="courseDescription"></div>
            </div>
			
            <div class="content">
                <div class="classInfo">
                    <div class="title">讨论课</div>
                    <button  class="returnButton" onClick="goback()">返回上一页</button>
                    <div class="line"></div>
                    <div class="blockBody" id="seminarBody">
                    </div>
                </div>
                <div class="seminarInfo">
                    <div class="title">课程分组</div>
                    <div class="line"></div>
                    <div class="blockBody" >
                        <a href="/student/StudentViewGroupPage" class="block" style="color:black;text-decoration:none"><div class="blockFont">固定分组</div></a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

</body>
</html>