<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>学生基本信息</title>
    <link href="/css/common/HomePage.css" rel="stylesheet" type="text/css"/>
    <script src="/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/cookie3.js"></script>
    <script>
    window.onload=function(){
      getCourseInformation();
    }

 //得到课程的基本信息
    function getCourseInformation()
    {
        var token = localStorage.getItem("jwt")
        $.ajax({
        type:"GET", //请求方式
        url: "/me",
            headers: {"Authorization": "Bearer " + token},
        cache: true,   //如果使用缓存
        data:'',
        contentType : "application/json",
        dataType: 'json',   //返回值类型
        success:function(data){
       document.getElementById("sid").innerText=data.id;
       document.getElementById("name").innerText=data.name;
       document.getElementById("number").innerText=data.number;
       document.getElementById("phone").innerText=data.phone;
       document.getElementById("gender").innerText=data.gender;
       document.getElementById("email").innerText=data.email;
       document.getElementById("education").innerText=data.education;
       document.getElementById("school").innerText=data.school.name;
         },
         error:function(data){
         }
         });
    }

    function login()
    {
        var userId=localStorage.getItem("userId")
    window.location.href="/me/modify/Student/"+userId;
    }

     </script>

</head>


<body>
    	<div class="top">
        	<div class="font">
        		课堂管理系统
        	</div>
        	<div class="icon">
                <a href="/student/StudentCourseHome"><img src="/images/home.png">首页</a>
                <img src="/images/help.png">帮助
                <a href="/common/AccountLoginPage"><img src="/images/exit.png">退出</a>
        	</div>
        	<div class="clear"></div>
    	</div>
        <div class="body">
            <div class="navigation">
                <div class="title">导航</div>
                <div class="line"></div>
                <div class="courseIntroduction"> <div class="courseIntroduction"><a class="guidefont" href="/student/StudentHomePage">基本信息</a>
                    <a class="guidefont" href="/student/StudentCourseHome">课程信息</a>
                    <a class="guidefont" href="/student/StudentChooseCoursePage">选择课程</a></div>
                </div>
            </div>
            <div class="content">
            
               <div class="title">基本信息</div>
               <div class="line"></div>
                <div class="imgarea"><img class="img" src="/images/link.jpg"/></div>
                
                 <div class="info">
        <table class="table">
        <tr class="itemName">
        <td >用户名：<span id="sid"></span></td>
        <td>学号：<span id="number"></span></td>
        </tr>
        <tr class="itemName">
        <td>姓名：<span id="name"></span></td>
        <td>性别：<span id="gender"></span></td>
        </tr>
        <tr class="itemName">
        <td>学校：<span id="school"></span></td>
        <td>学历：<span id="education"></span></td>
        </tr>
        <tr class="itemName">
        <td>E-mail：<span id="email"></span></td>
        <td>联系方式：<span id="phone"></span></td>
        </tr>
        </table>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="button">
        <button onclick="login()">修改</button>
        </div>
        </div>
            </div>


            <div class="clear"></div>
        </div>
</body>
</html>