<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>创建讨论课</title>
    <link rel="stylesheet" href="/css/teacher/content.css" type="text/css" />
    <script src="/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/cookie3.js"></script>
    <script>
        var courseID = getCookie("courseId");
        window.onload=function(){
         getCourseInformation(courseID);
    }


 //得到课程的基本信息
    function getCourseInformation(courseID)
    {

        $.ajax({
        type:"GET", //请求方式
        url: "/course/"+courseID,
        cache: true,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型

        success:function(data){

         $("#courseName").html(data.name);
         $("#courseDescription").html(data.description);

         },
         error:function(data){
         }
         });
    }

        function submit()
        {
             //判断是否为空()
             if($('#name').val() == ""||$('#startTime').val()== ""||$('#endTime').val()== ""){
                    alert("带*内容不能为空！");
             }

             else
             {

                  s = "";
                  if($('#groupingMethod').val() =="fixed")
                     { s = s + "固定分组";}
                  else
                     { s = s + "随机分组"; }

                 var newSeminar ={
                                "name": $('#name').val(),
                                "description": $('#description').val(),
                                "startTime": $('#startTime').val(),
                                "endTime": $('#endTime').val(),
                                "groupingMethod" : s,
                 };


            $.ajax({
               type:"POST",
               url:"/course/"+courseID+"/seminar",
               cache: false,
               contentType : "application/json",
               data:JSON.stringify(newSeminar),
               dataType: 'json',   //返回值类型
               success:function(data){
                    alert("提交成功！");
                    setCookie("seminarId",data);
                    window.location.href="/teacher/TeacherSeminarInfo";
                },
               error:function(result){

               }
               });


        }

        }

        function reset()
     {

           var msg = confirm("确认重置？");
           if( msg)
           {
               $('#name').val("");
               $('#description').val("");
               $('#startTime').val("startTime");
               $('#endTime').val("endTime");
               $('#roupingMethod').val("fixed");

           }

         }

             function goback()
         {
            window.location.href ="/teacher/TeacherCourseInformation";
         }
    </script>
</head>
<body>

<div class="top">
    <div class="font">
        课堂管理系统
    </div>
    <div class="icon">
        <a href="teacher/TeacherCourseHomePage"><img src="/images/home.png">首页</a>
        <img src="/images/help.png">帮助
        <a href="/common/WechatLoginPage"><img src="/images/exit.png">退出</a>
    </div>
    <div class="clear"></div>
</div>
<div class="body">
    <div class="navigation">
        <div class="courseName" id="courseName"></div>
        <div class="line"></div>
        <div class="courseIntroduction" id="courseDescription"></div>
    </div>
    <div class="content">
        <div class="block">
            <div class="title">创建讨论课</div>
            <div class="returnButton" onclick="goback()">返回上一页</div>
            <div class="line"></div>
            <div class="itemBody">
                <div class="item">
                    <label class="itemName">讨论课名称*:</label>
                    <input type="text" id="name" class="bigInput">
                </div>
                <div class="item" style="height:40%;">
                    <label class="itemName">讨论课说明:&nbsp;</label>
                    <textarea class="textStyle" id="description"></textarea>
                </div>
                <div class="item">
                    <label class="itemName">分组方式*:&nbsp;&nbsp;</label>
                    <select class="bigSelect" id="groupingMethod">
                        <option value ="fixed">固定分组</option>
                        <option value ="random">随机分组</option>
                    </select>
                </div>
                <div class="item">
                    <label class="itemName">开始时间*:&nbsp;&nbsp; </label>
                    <input type="date" id="startTime" class="timeStyle">
                    <label class="itemName" style="margin-left: 10%">结束时间*:&nbsp;&nbsp;</label>
                    <input type="date" id="endTime" class="timeStyle">
                </div>

                <div class="item">
                    <button class="submit" onclick="submit()">提交</button>
                    <button class="reset" onclick="reset()">重置</button>

                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
</body>

</html>