<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>修改班级</title>
    <link rel="stylesheet" href="../../static/css/teacher/content.css" type="text/css" />

    <script src="../../static/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../static/js/jquery.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.isotope.min.js"></script>
    <script src="../../static/js/jquery.inview.min.js"></script>
    <script src="../../static/js/jquery.params.js"></script>
    <script src="../../static/js/cookie3.js"></script>
    <script>
       var courseID = 12;
       var classID;
       //文件路径
        var roster ="";
        var number = 1;

 $(function() {
     classID = $.query.get("classid");
    });

      //为添加时间符号做准备
      var str =       " <div class=\"item\" >" +
                        "<label class=\"itemName\">上课时间*:&nbsp;</label> " +

                         "   <select class=\"bigSelect\" id=\"classTime11\"> "+
						 "   <option value =\"oddWeek\">单周</option> " +
						 " 	 <option value =\"doubleWeek\">双周</option> " +
						  "  <option value =\"bothWeek\">单双周</option> " +
						 "   </select>				   " +
                         "   <select class=\"smallSelect\" id=\"classTime12\"> "+
						 "   	<option value =\"monday\">周一</option> " +
						 " 	<option value =\"tuesday\">周二</option> " +
						 " 	<option value =\"wednesday\">周三</option> " +
						 " 	<option value =\"thursday\">周四</option> " +
						 " 	<option value =\"friday\">周五</option>		 " +
						 "  </select> " +
                         "  <select class=\"smallSelect\" id=\"classTime13\"> "+
						  " 	<option value =\"12\">1-2节</option> " +
						 " <option value =\"34\">3-4节</option> " +
						 " <option value =\"56\">5-6节</option> " +
						 " <option value =\"78\">7-8节</option> " +
						 " <option value =\"910\">9-10节</option> " +
						  "  </select>" +
						  " <button class =\"addButton\" onclick=\"addTime()\">+</button>"+
						 " </div>";

       window.onload=function(){

    $("#timeBlock").html(str);
    getCourseInformation(courseID);
    getClassInformation(classID);
    }


 //得到课程的基本信息
    function getCourseInformation(courseID)
    {

        $.ajax({
        type:"GET", //请求方式
        url: "/course/"+courseID,
        cache: true,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型

        success:function(data){

         $("#courseName").html(data.name);
         $("#courseDescription").html(data.description);

         },
         error:function(data){
             alert("页面加载错误！");
         }
         });
    }


//得到班级的基本信息
    function getClassInformation(classID)
    {

        $.ajax({
        type:"GET", //请求方式
        url: "/class/" + classID,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型

        success:function(data){

         $("#name").val(data.name);
         $("#site").val(data.site);
         $("#courseDescription").val(data.description);
          roster = data.roster;
          $("#report").val(data.Proportions.report);
          $("#presentation").val(data.proportions.presentation);
          $("#c").val(data.proportions.c);
          $("#b").val(data.proportions.b);
          $("#a").val(data.proportions.a);


         //处理时间
          var time3 = data.time.split(" ");

                if(time3[0] =="单周")
                    { $("#classTime11").val("oddWeek");}
                 else if(time3[0] =="双周")
                   { $("#classTime11").val("doubleWeek");}
                 else { $("#classTime11").val("bothWeek");}



                    if(time3[1] =="周一")
                     { $("#classTime12").val("monday");}
                    else   if(time3[1] =="周二")
                     { $("#classTime12").val("tuesday");}
                      else   if(time3[1] =="周三")
                     { $("#classTime12").val("wednesday");}
                      else   if(time3[1] =="周四")
                     { $("#classTime12").val("thursday");}
                      else
                     { $("#classTime12").val("friday");}

                  if(time3[2] =="1-2节")
                     { $("#classTime13").val("12");}
                    else  if(time3[2] =="3-4节")
                     { $("#classTime13").val("34");}
                    else  if(time3[2] =="5-6节")
                     { $("#classTime13").val("56");}
                    else  if(time3[2] =="7-8节")
                     { $("#classTime13").val("78");}
                    else
                     { $("#classTime13").val("910");}


         },
         error:function(data){
             alert("页面加载错误！");
         }
         });
    }
     //增加时间
       //增加时间
       function  addTime()
        {

             number = number + 1;


                str = str + "    <div class=\"item\" > <label class=\"itemName\">上课时间*:&nbsp;</label> " +
                         "   <select class=\"bigSelect\" id=\"classTime\"+ number+ \"1\" > "+
						 "   	<option value =\"oddWeek\">单周</option> " +
						 " 	    <option value =\"doubleWeek\">双周</option> " +
						 " 	    <option value =\"bothWeek\">单双周</option> " +
						 "   </select>				   " +
                         "   <select class=\"smallSelect\" id=\"classTime\" + number +\"2\"> "+
						 "   	<option value =\"monday\">周一</option> " +
						 " 	<option value =\"tuesday\">周二</option> " +
						 " 	<option value =\"wednesday\">周三</option> " +
						 " 	<option value =\"thursday\">周四</option> " +
						 " 	<option value =\"friday\">周五</option>		 " +
						 "  </select> " +
                         "  <select class=\"smallSelect\" id=\"classTime\" + number +\"3\"> "+
						  " <option value =\"12\">1-2节</option> " +
						 " <option value =\"34\">3-4节</option> " +
						 " <option value =\"56\">5-6节</option> " +
						 " <option value =\"78\">7-8节</option> " +
						 " <option value =\"910\">9-10节</option> " +
						  "  </select></div>";



            $("#timeBlock").html(str);

        }

        function submit()
        {

             //判断是否为空()
             if($('#name').val() == ""||$('#site').val()== ""||$('#report').val()== ""|| $('#presentation').val()== ""||
                    $('#c').val()== ""||$('#b').val()== ""||$('#a').val()== ""){
                    alert("带*内容不能为空！");
             }

             else if( parseInt($('#c').val())+ parseInt($('#b').val())+ parseInt($('#a').val())!=100){
                  alert("三种分数占比应为100！");
             }
             else if( parseInt($('#presentation').val())+ parseInt($('#report').val()) !=100){
                  alert("报告和讨论课分数占比应为100！");
             }
             else
             {
                  s = "";
                  if($('#classTime11').val() =="oddWeek")
                     { s = s + "单周";}
                  else if($('#classTime11').val() =="doubleWeek")
                     { s = s + "双周"; }
                  else { s = s + "单双周"; }

                   if($('#classTime12').val() =="monday")
                     { s = s + "周一";}
                  else if($('#classTime12').val() =="tuesday")
                     { s = s + "周二"; }
                  else if($('#classTime12').val() =="wednesday")
                     { s = s + "周三"; }
                  else if($('#classTime12').val() =="thursday")
                     { s = s + "周四"; }
                  else
                     { s = s + "周五"; }

                  if($('#classTime13').val() =="12")
                     { s = s + "1-2节";}
                  else if($('#classTime13').val() =="34")
                     { s = s + "3-4节"; }
                  else if($('#classTime13').val() =="56")
                     { s = s + "5-6节"; }
                  else if($('#classTime13').val() =="78")
                     { s = s + "7-8节"; }
                  else
                     { s = s + "9-10节"; }



                 var modifyClass ={"name": $('#name').val(),
                               "site": $('#site').val(),
                               "time": s,
                                "proportions": {
                                    "report": $('#report').val(),
                                    "presentation": $('#presentation').val(),
                                    "c": $('#c').val(),
                                    "b": $('#b').val(),
                                    "a": $('#a').val()
                              }
                 };



            $.ajax({
               type:"PUT",
               url:"/class/"+classID,
               cache: false,
               contentType : "application/json",
               data:JSON.stringify(modifyClass),
               dataType: 'json',   //返回值类型
               success:function(data){
                    alert("提交成功！");
                    window.location.href="TeacherClassInfo.html?classid="+classID;
                },
               error:function(result){
               }
               });


        }

        }

        function reset()
     {
           var msg = confirm("确认重置？");
           if(msg)
           {
               getClassInformation(classID);
           }

         }

         function goback()
         {
            window.location.href="TeacherClassInfo.html";
         }
    </script>
</head>
<body>

        <div class="top">
          <div class="font">
            课堂管理系统
          </div>
          <div class="icon">
              <a href="TeacherCourseHomePage.html"><img src="../../static/images/home.png">首页</a>
              <img src="../../static/images/help.png">帮助
              <a href="../common/WechatLoginPage.html"><img src="../../static/images/exit.png">退出</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="body">
            <div class="navigation">
                <div class="courseName" id="courseName"></div>
                <div class="line"></div>
                <div class="courseIntroduction" id="courseDescription"></div>
            </div>
            <div class="content">
                <div class="block">
                    <div class="title">修改班级</div>
                    <button class="returnButton" onclick="goback()">返回上一页</button>
                    <div class="line"></div>
                    <div class="itemBody" id="itemBody">
                        <div class="item">
                          <label class="itemName" >班级名称*:&nbsp;</label>
                          <input type="text" id="name" class="bigInput">
                        </div>
                        <div class="item">
                          <label class="itemName">上课地点*:&nbsp;</label>
                          <input type="text" id="site" class="bigInput">
                        </div>
                       <div  id="timeBlock">


                       </div>

                        <div class="item">
                          <label class="itemName">评分规则*:&nbsp;</label>
                          <label class="itemName">讨论课分数占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="presentation">
                          <label class="itemName">&nbsp;&nbsp;报告分数占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="report">
                        </div>
                        <div class="item" style="margin-left: 20%">
                          <label class="itemName">5分占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="c">
                          <label class="itemName">&nbsp;&nbsp;4分占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="b">
                          <label class="itemName">&nbsp;&nbsp;3分占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="a">
                        </div>
                      <div class="item">
                          <label class="itemName">导入学生名单:</label>


                          <button class="selectFile">选择文件</button>
					  </div>

                        <div class="item">
                          <button class="submit" onclick="submit()">提交</button>
                          <button class="reset" onclick="reset()">重置</button>
                          <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
</body>
</html>