<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>修改班级</title>
    <link rel="stylesheet" href="/css/teacher/content.css" type="text/css" />

    <script src="/js/jquery-1.9.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/jquery.inview.min.js"></script>
    <script src="/js/jquery.params.js"></script>
    <script src="/js/cookie3.js"></script>
    <script>
       var classID= getCookie("classId");
       var courseID=getCookie("courseId");
       //文件路径
        var roster ="";


       window.onload=function(){

       getCourseInformation(courseID);
       getClassInformation(classID);
    }


 //得到课程的基本信息
    function getCourseInformation(courseID)
    {

        $.ajax({
        type:"GET", //请求方式
        url: "/course/"+courseID,
        cache: true,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型

        success:function(data){

         $("#courseName").html(data.name);
         $("#courseDescription").html(data.description);

         },
         error:function(data){
             alert("页面加载错误！");
         }
         });
    }

//得到班级的基本信息
    function getClassInformation(classID)
    {

        $.ajax({
        type:"GET", //请求方式
        url: "/class/" + classID,
        cache: false,   //如果使用缓存
        contentType : "application/json",
        dataType: 'json',   //返回值类型

        success:function(data){

         $("#name").val(data.name);
         $("#site").val(data.site);
         $("#time").val(data.time);
         $("#courseDescription").val(data.description);
          roster = data.roster;
          $("#report").val(data.proportions.report);
          $("#presentation").val(data.proportions.presentation);
          $("#c").val(data.proportions.c);
          $("#b").val(data.proportions.b);
          $("#a").val(data.proportions.a);
         },
         error:function(data){
             alert("页面加载错误！");
         }
         });
    }
 function submit()
        {

             //判断是否为空()
             if($('#name').val() == ""||$('#site').val()== ""||$('#report').val()== ""|| $('#presentation').val()== ""||
                    $('#c').val()== ""||$('#b').val()== ""||$('#a').val()== ""){
                    alert("带*内容不能为空！");
             }

             else if( parseInt($('#c').val())+ parseInt($('#b').val())+ parseInt($('#a').val())!=100){
                  alert("三种分数占比应为100！");
             }
             else if( parseInt($('#presentation').val())+ parseInt($('#report').val()) !=100){
                  alert("报告和讨论课分数占比应为100！");
             }
             else
             {
                var modifyClass ={"name": $('#name').val(),
                                   "site": $('#site').val(),
                                   "time": $('#time').val(),
                                "proportions": {
                                    "report": $('#report').val(),
                                    "presentation": $('#presentation').val(),
                                    "c": $('#c').val(),
                                    "b": $('#b').val(),
                                    "a": $('#a').val()
                              }
                 };
                  $.ajax({
               type:"PUT",
               url:"/class/"+classID,
               cache: false,
               contentType : "application/json",
               data:JSON.stringify(modifyClass),
               dataType: 'json',   //返回值类型
               success:function(data){
                    alert("提交成功！");
                    window.location.href="/teacher/TeacherClassInfo";
                },
               error:function(result){

               }
               });

        }

        }


        function reset()
     {
           var msg = confirm("确认重置？");
           if(msg)
           {
               getClassInformation(classID);
           }

         }

         function goback()
         {
            window.location.href="/teacher/TeacherClassInfo";
         }
    </script>
</head>
<body>

        <div class="top">
          <div class="font">
            课堂管理系统
          </div>
          <div class="icon">
              <a href="/teacher/TeacherCourseHomePage"><img src="/images/home.png">首页</a>
              <img src="/images/help.png">帮助
              <a href="/common/WechatLoginPage"><img src="/images/exit.png">退出</a>
          </div>
          <div class="clear"></div>
        </div>
        <div class="body">
            <div class="navigation">
                <div class="courseName" id="courseName"></div>
                <div class="line"></div>
                <div class="courseIntroduction" id="courseDescription"></div>
            </div>
            <div class="content">
                <div class="block">
                    <div class="title">修改班级</div>
                    <button class="returnButton" onclick="goback()">返回上一页</button>
                    <div class="line"></div>
                    <div class="itemBody" id="itemBody">
                        <div class="item">
                          <label class="itemName" >班级名称*:&nbsp;</label>
                          <input type="text" id="name" class="bigInput">
                        </div>
                        <div class="item">
                          <label class="itemName">上课地点*:&nbsp;</label>
                          <input type="text" id="site" class="bigInput">
                        </div>
                        <div class="item">
                            <label class="itemName">上课时间*:&nbsp;</label>
                            <input type="text" id="time" class="bigInput">
                        </div>

                        <div class="item">
                          <label class="itemName">评分规则*:&nbsp;</label>
                          <label class="itemName">讨论课分数占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="presentation">
                          <label class="itemName">&nbsp;&nbsp;报告分数占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="report">
                        </div>
                        <div class="item" style="margin-left: 20%">
                          <label class="itemName">3分占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="c">
                          <label class="itemName">&nbsp;&nbsp;4分占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="b">
                          <label class="itemName">&nbsp;&nbsp;5分占比</label>
                          <input type="text" name="seminarGrade" class="smallInput" id="a">
                        </div>


                        <div class="item">
                          <button class="submit" onclick="submit()">提交</button>
                          <button class="reset" onclick="reset()">重置</button>
                          <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
</body>
</html>