<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.crms.mapper.SeminarGroupMapper">

    <delete id="deleteSeminarGroupMemberBySeminarGroupId" >
        DELETE FROM seminar_group_member WHERE seminar_group_id=#{seminarGroupId}
    </delete>

    <delete id="deleteSeminarGroupMemberById" parameterType="SeminarGroupMember" >
        DELETE FROM seminar_group_member WHERE seminar_group_id=#{seminarGroup.id} AND student_id=#{student.id}
    </delete>

    <insert id="insertSeminarGroupMemberById" parameterType="SeminarGroupMember" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO seminar_group_member
        (id,seminar_group_id,student_id)
        VALUES
        (#{id}, #{seminarGroup.id

         },#{student.id

         })
    </insert>

    <select id="listSeminarGroupMemberByGroupId" resultMap="userResultMap">
        SELECT  user_info.id

        ,phone,password,name,school_id,gender,type,number,education,email
        From user_info,seminar_group_member
        WHERE seminar_group_member.seminar_group_id=#{groupId} and user_info.id

        =seminar_group_member.student_id
    </select>

    <select id="listSeminarGroupIdByStudentId" resultMap="seminarGroupResultMap">
        SELECT  seminar_group.id ,seminar_id,class_id,report,report_grade,presentation_grade,final_grade,leader_id
        From seminar_group,seminar_group_member
        WHERE seminar_group_member.student_id=#{userId} and seminar_group_member.seminar_group_id=seminar_group.id
    </select>

    <select id="getSeminarGroupLeaderByGroupId" resultMap="LeaderResultMap">
        SELECT  leader_id
        From seminar_group
        WHERE seminar_group.id

        =#{groupId}
    </select>

    <select id="listSeminarGroupBySeminarId" resultMap="seminarGroupResultMap">
        SELECT  id,seminar_id,class_id,report,report_grade,presentation_grade,final_grade,leader_id
        From seminar_group
        WHERE seminar_group.seminar_id=#{seminarId}
    </select>

    <delete id="deleteSeminarGroupBySeminarId" >
        DELETE FROM seminar_group WHERE seminar_id=#{seminarId}
    </delete>

    <insert id="insertSeminarGroupBySeminarId" parameterType="SeminarGroup" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO seminar_group
        (id,seminar_id,report_grade,presentation_grade,final_grade,class_id,leader_id)
        VALUES
        (#{id}, #{seminar.id

        },#{reportGrade},#{presentationGrade},#{finalGrade},#{classInfo.id

        },#{leader.id })
    </insert>




    <insert id="insertSeminarGroupMemberByGroupId" parameterType="SeminarGroupMember" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO seminar_group_member
        (id,seminar_group_id,student_id)
        VALUES
        (#{id},  #{seminarGroup.id}, #{student.id})
    </insert>

    <delete id="deleteSeminarGroupByGroupId">
        DELETE FROM seminar_group WHERE id=#{seminarGroupId}
    </delete>

    <select id="getSeminarGroupByGroupId"  resultMap="seminarGroupResultMap">
        SELECT  id,seminar_id,report_grade,presentation_grade,final_grade,report,class_id,leader_id
        From seminar_group
        WHERE id = #{groupId}
    </select>

    <select id="getSeminarGroupById" parameterType="SeminarGroupMember" resultMap="seminarGroupResultMap">
        SELECT  seminar_group.id,seminar_group.seminar_id,seminar_group.report_grade,seminar_group.presentation_grade,
        seminar_group.final_grade,seminar_group.report,seminar_group.class_id,seminar_group.leader_id
        From seminar_group_member,seminar_group
        WHERE seminar_group_member.student_id = #{student.id} AND seminar_group_member.seminar_group_id = seminar_group.id
            AND seminar_group.seminar_id = #{seminarGroup.seminar.id}
    </select>

    <select id="listGroupByTopicId" resultMap="seminarGroupResultMap">
        SELECT  seminar_group.id,seminar_group.seminar_id,seminar_group.report_grade,seminar_group.presentation_grade,
        seminar_group.final_grade,seminar_group.report,seminar_group.class_id,seminar_group.leader_id
        From seminar_group_topic,seminar_group
        WHERE seminar_group_topic.topic_id = #{topicId} AND seminar_group_topic.seminar_group_id = seminar_group.id
    </select>

    <insert id="insertTopicByGroupId" parameterType="SeminarGroupTopic" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO seminar_group_topic
        (id,topic_id,seminar_group_id,presentation_grade)
        VALUES
        (#{id}, #{topic.id}, #{seminarGroup.id}, #{presentationGrade})
    </insert>

    <update id="assignLeaderById"  parameterType="SeminarGroup" >
        UPDATE  seminar_group
        <set>
            leader_id = #{leader.id},
        </set>
        WHERE id = #{id}
    </update>

    <update id="resignLeaderById" >
        UPDATE  seminar_group
        <set>
                leader_id = NULL,
        </set>
        WHERE id = #{seminarGroupId}
    </update>

    <resultMap id="seminarGroupResultMap" type="SeminarGroup">
        <id property="id" column="id"/>
        <result property="report" column="report"/>
        <result property="reportGrade" column="report_grade"/>
        <result property="presentationGrade" column="presentation_grade"/>
        <result property="finalGrade" column="final_grade"/>
        <association property="seminar" column="seminar_id" select="xmu.crms.mapper.UtilityMapper.selectSeminar"/>
        <association property="classInfo" column="class_id" select="xmu.crms.mapper.UtilityMapper.selectClass"/>
        <association property="leader" column="leader_id" select="xmu.crms.mapper.UtilityMapper.selectUser"/>
    </resultMap>

    <resultMap id="userResultMap" type="User">
        <id property="id" column="id"/>
        <result property="phone" column="phone"/>
        <result property="wechatId" column="wechat_id"/>
        <result property="openid" column="openid"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="type" column="type"/>
        <result property="number" column="number"/>
        <result property="education" column="education"/>
        <result property="title" column="title"/>
        <result property="email" column="email"/>
        <association property="school" column="school_id" select="xmu.crms.mapper.UtilityMapper.selectSchool"/>
    </resultMap>



    <resultMap id="LeaderResultMap" type="java.math.BigInteger">
        <association property="leader" column="leader_id" select="xmu.crms.mapper.UtilityMapper.selectUser"/>
    </resultMap>

</mapper>
