<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.crms.mapper.TopicMapper">


    <update id="updateTopicByTopicId" parameterType="xmu.crms.entity.Topic">
        UPDATE  topic
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="serial!=null">
                serial=#{serial},
            </if>
            <if test="description!=null">
                description=#{description},
            </if>
            <if test="groupNumberLimit!=null">
                group_number_limit=#{groupNumberLimit},
            </if>
            <if test="groupStudentLimit!=null">
                group_student_limit=#{groupStudentLimit},
            </if>

            <if test="seminar!=null">
                seminar_id=#{seminar.id},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <select id="getTopicByTopicId" resultMap="topicResultMap">
        SELECT  id,serial,name,description,group_number_limit,group_student_limit,seminar_id
        From topic
        WHERE id=#{topicId}
    </select>



    <delete id="deleteTopicByTopicId" parameterType="xmu.crms.entity.Topic">
        DELETE FROM topic WHERE id=#{id}
    </delete>

    <select id="listTopicBySeminarId" resultMap="topicResultMap">
        SELECT  id,serial,name,description,group_number_limit,group_student_limit,seminar_id
        From topic
        WHERE seminar_id=#{topicId}
    </select>

    <insert id="insertTopicBySeminarId" parameterType="xmu.crms.entity.Topic" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO topic
        (id, name, serial,description, group_number_limit, group_student_limit, seminar_id)
        VALUES
        (#{id},#{name},#{serial},#{description}, #{groupNumberLimit},#{groupStudentLimit},#{seminar.id})
    </insert>


    <delete id="deleteTopicById" parameterType="xmu.crms.entity.SeminarGroupTopic">
        DELETE FROM seminar_group_topic WHERE topic_id=#{topic.id} AND seminar_group_id=#{seminarGroup.id}
    </delete>

    <delete id="deleteSeminarGroupTopicByTopicId">
        DELETE FROM seminar_group_topic WHERE topic_id=#{topicId}
    </delete>

    <select id="getSeminarGroupTopicById" parameterType="xmu.crms.entity.SeminarGroupTopic" resultMap="seminarGroupTopicResultMap">
        SELECT  id,topic_id,seminar_group_id,presentation_grade
        From seminar_group_topic
        WHERE topic_id=#{topic.id} AND seminar_group_id=#{seminarGroup.id}
    </select>

    <delete id="deleteTopicBySeminarId" parameterType="xmu.crms.entity.Seminar">
        DELETE FROM topic WHERE seminar_id=#{id}
    </delete>


    <select id="listSeminarGroupTopicByGroupId"  resultMap="seminarGroupTopicResultMap">
        SELECT  id,topic_id,seminar_group_id,presentation_grade
        From seminar_group_topic
        WHERE seminar_group_id=#{groupId}
    </select>

    <resultMap id="seminarGroupTopicResultMap" type="xmu.crms.entity.SeminarGroupTopic">
        <id property="id" column="id"/>
        <result property="presentationGrade" column="presentation_grade"/>
        <association property="topic"  column="topic_id" select="xmu.crms.mapper.UtilityMapper.selectTopic"/>
        <association property="seminarGroup" column="seminar_group_id" select="xmu.crms.mapper.UtilityMapper.selectSeminarGroup"/>
    </resultMap>

    <resultMap id="topicResultMap" type="xmu.crms.entity.Topic">
        <id property="id" column="id"/>
        <result property="serial" column="serial"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="groupNumberLimit" column="group_number_limit"/>
        <result property="groupStudentLimit" column="group_student_limit"/>
        <association property="seminar" column="seminar_id" select="xmu.crms.mapper.UtilityMapper.selectSeminar"/>
    </resultMap>

</mapper>